body{
    background-color: lightblue;
    color: midnightblue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    margin: 50px 100px 50px 100px;
}

ol{
    background-color: aliceblue;
    border: 1px solid royalblue;
    padding-left: 40px;
    padding: 5px;
}

li{
    border: 1px dotted cadetblue;
    margin-left: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 5px;
    padding-right: 5px;
}

a{
    color: dodgerblue;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 5px;
    margin-right: 5px;
    text-decoration: none;
}

#p1, #p2, #p3, #p4, #p5, #p6, #p7, #p8{
    display: none;
}
